<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel=icon href="assets/photos/assets/LogoCode.png" type="image/png">
        <title>Christopher Rempe Sites</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link href="../css/sites.css" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <h1>Past Personal Sites</h1>
            <div id="vOne" class="button unselectable button_normal">
                <div class="button_text">Version 1.0</div>
            </div>
            <div id="vTwo" class="button unselectable button_normal">
                <div class="button_text">Version 2.0</div>
            </div>
        </div>
    </body>
    <script src="../js/sites.js"></script>
</html>
