@font-face {
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf")
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("fonts/NotoSans-Bold.ttf")
}

@font-face {
    font-family: "NotoSans-Italic";
    src: url("fonts/NotoSans-Italic.ttf")
}

body {
    color: whitesmoke;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 256px auto;
    grid-template-areas: 'navifation content';
    font-family: "NotoSans-Regular";
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    grid-area: content;
}

.logo {
    margin-top: 25px;
    margin-bottom: -15px;
}

.nav {
    font-size: 24px;
    margin-left: 0px;
    margin-top: -20;
    line-height: 50px;
}

.nav a {
    color: #333333;

    -webkit-transition: 0.15s color linear;
    -moz-transition: 0.15s color linear;
    -moz-transition: 0.15s color linear;
    -ms-transition: 0.15s color linear;
    -o-transition: 0.15s color linear;
    transition: 0.15s color linear;
}

.nav a:hover {
    color:#8a8a8a;
}

.navigation {
    overflow: hidden;
    position: fixed; left:30px; top:2.5%;
    background-color: snow;
    text-align: center;
    height: 95%;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.hide {
    overflow: hidden;
}

.me {
    width:100%;
    padding-top: 2%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.me img {
    margin: 0 auto;
    border-radius: 500px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.intro {
    font-size: 75px;
    margin-top: 0px;
    color: #333333;
    text-align: center;
    margin-top: 25px;
}

.intro span {
    font-family: "NotoSans-Bold";
    color: #000000;
}

#about {
    background-color: snow;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 100px;
    padding: 20px 0px 30px 0px;
    display: grid;
    font-size: 24px;
    color: #333333;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#about p {
    max-width: 700px;
}

#about span {
    font-family: "NotoSans-Bold";
    font-size: 75px;
    color: #000000;
    text-align: center;
}

#projects {
    margin-top: 100px;
    font-size: 75px;
    padding: 20px 0px 30px 0px;
    color: #333333;
    justify-content: center;
    text-align: center;
}

.project {
    font-size: 24px;
    margin-top: 25px;  
    text-align: left;
}

.project span {
    font-family: "NotoSans-Bold";
    font-size: 50px;
    color: #000000;
    margin-left: 2%;
}

.project a {
    font-size: 16px;
    margin-left: 2.2%;
}

.project a:hover {
    font-size: 18px;
    color: #333333;

    -webkit-transition: 0.15s color linear, 0.15s font-size linear;
    -moz-transition: 0.15s color linear, 0.15s font-size linear;
    -moz-transition: 0.15s color linear, 0.15s font-size linear;
    -ms-transition: 0.15s color linear, 0.15s font-size linear;
    -o-transition: 0.15s color linear, 0.15s font-size linear;
    transition: 0.15s color linear, 0.15s font-size linear;
}

.discription {
    background-color: snow;
    width: 96%;
    margin-left: 2%;
    border-radius: 25px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.30), 0 0 6px rgba(0, 0, 0, 0.22);
}

.project p {
    width: 90%;
    margin-left: 5%;
}

.project-image {
    border-radius: 25px;
    width: 30%;
    margin-left: 2%;
    margin-bottom: 2%;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wificonnect {
    background-color: rgb(98, 177, 244);
    border-radius: 25px;
    width: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wada {
    margin-top: 25px;
    background-color: rgb(63, 169, 108);
    height: 500px;
    border-radius: 25px;
    width: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#contact {
    background-color: rgb(117, 117, 117);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 100px;
    padding: 20px 0px 30px 0px;
    display: grid;
    font-size: 20px;
    color: #333333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    
}

#contact h1 {
    font-size: 40px;
    margin-top: -3%;
    color: rgba(245, 245, 245, 0.644);
}

.social > * {
    display:inline-block;
    font-size: 0;
}

.social img {
    width:50px;
    margin-left: 30px;
    margin-top: -1%;
}

.social img:hover {
    -webkit-filter: sepia(0.5);
    -moz-filter: sepia(0.5);
    -ms-filter: sepia(0.5);
    -o-filter: sepia(0.5);
    filter: sepia(0.5);

    -webkit-transition: 0.15s -webkit-filter linear;
    -moz-transition: 0.15s -moz-filter linear;
    -moz-transition: 0.15s filter linear;
    -ms-transition: 0.15s -ms-filter linear;
    -o-transition: 0.15s -o-filter linear;
    transition: 0.15s filter linear;
}

#footer {
    margin-top: -15px;
    background-color: rgb(117, 117, 117);
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1.67%;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 100% 12px rgba(0, 0, 0, 0.22);
}

#footer .copyright {
    font-size: 15px;
    font-family: "NotoSans-Regular";
    color: rgba(245, 245, 245, 0.644);
}

@media only screen and (max-width: 1032px) {
    body {
        grid-template-columns: auto;
        justify-content: center;
    }

    .content {
        max-width: 800px;
    }

    .navigation {
        display: none;
        width: 0%;
        border-radius: 0px;
        position: fixed; left:0px;
    }
    .navigation, .me, .content {
        width: 100%;
        margin: 0;
    }

    #about {
        margin-top: 80px;
    }

    #about p {
        max-width: 90%;
        margin-left: 5%;
    }

    #about span {
        font-size: 50px;
    }

    .me img {
        width:75%;
    }

    .intro {
        font-size: 50px;
    }

    .project {
        text-align: center;
    }

    .project span {
        font-size: 40px;
    }
    
    .project a {
        font-size: 24px;
        margin-left: 3%;
        text-decoration: underline;
    }

    .project a:hover {
        font-size: 26px;
    }

    .discription {
        text-align: left;
    }

    .project-image {
        width: 46.5%;
    }

    #footer {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .social > * {
        border: 3px solid rgb(211, 18, 18);
        padding: 20px;
        display: flex;
    }

    .social img {
        width: 40px;
        margin-left: 20px;
    }

    .git,
    .linkedin {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid red;
    }

    @media (prefers-color-scheme: dark) {
        body {
          color: #1e1f23;
        }
      }
      
      
}

@keyframes slideup {
    0% {
        margin-bottom: 50%;
        opacity: 0%;
    }

    100% {
        margin-bottom: 0%;
        opacity: 100%;
    }
}

@keyframes slidedown {
    0% {
        margin-top: -100%;
        opacity: 0%;
    }
    100% {
        margin-top: 0%;
        opacity: 100%;
    }
}
