@font-face {
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf")
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("fonts/NotoSans-Bold.ttf")
}

@font-face {
    font-family: "NotoSans-Italic";
    src: url("fonts/NotoSans-Italic.ttf")
}

body {
    color: whitesmoke;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 256px auto;
    grid-template-areas: 'navifation content';
}

a {
    color: whitesmoke;
    text-decoration: none;
}


.nav {
    font-size: 24px;
    font-family: "NotoSans-Regular";
    margin-left: 0px;
    margin-top: -20;
    line-height: 50px;
}

.nav a {
    font-family: "NotoSans-Regular";
    color: #333333;
}

.navigation {
    position: fixed; left:30px; top:2.5%;
    background-color: snow;
    text-align: center;
    height: 95%;
    width: 200px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.me {
    width:100%;
    padding-top: 2%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.me img {
    margin: 0 auto;
    border-radius: 500px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.intro {
    font-family: "NotoSans-Regular";
    font-size: 75px;
    margin-top: 0px;
    color: #333333;
    text-align: center;
    margin-top: 25px;
}

.intro span {
    font-family: "NotoSans-Bold";
    color: #000000;
}

#about {
    background-color: snow;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 100px;
    display: grid;
    font-family: "NotoSans-Regular";
    font-size: 24px;
    color: #333333;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#about p {
    max-width: 700px;
}

#about span {
    font-family: "NotoSans-Bold";
    font-size: 75px;
    color: #000000;
    text-align: center;
}

@media only screen and (max-width: 1032px) {
    body {
        grid-template-columns: auto;
        justify-content: center;
    }
    .navigation {
        display: none;
        width: 0%;
        border-radius: 0px;
        position: fixed; left:0px;
    }
    .navigation, .me, .content {
        width: 100%;
        margin: 0;
    }

    #about p {
        max-width: 90%;
        margin-left: 5%;
    }

    #about span {
        font-size: 50px;
    }

    .me img {
        width:75%;
    }

    .intro {
        font-size: 50px;
    }
}

#footer {
    background-color: snow;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer .copyright {
    font-size: 12px;
    font-family: "NotoSans-Regular";
    color: #2f3131;
}