body {
    font-family: 'Yeseva One', cursive;
    overflow: hidden;
}

#hello {
    z-index: 1;
    transform: translateY(-36.5vh);
}

#hello p:first-child {
    padding-bottom: 1rem;
}

#hi {
    transform: translateX(2.5rem);
}

#im {
    opacity: 0;
}

#me-card {
    z-index: 10;
    aspect-ratio: 0.6667/1;
    height: 80%;
}

.interest {
    transform: translateY(-32px);
}

#developer {
    z-index: 2;
    visibility: hidden;
}

#photographer {
    z-index: 3;
    visibility: hidden;
}

#snowboarder {
    z-index: 4;
    visibility: hidden;
}

#human-black {
    z-index: 8;
}

#human-red {
    z-index: 2;
    visibility: hidden;
}

#human-orange {
    z-index: 3;
    visibility: hidden;
}

#human-yellow {
    z-index: 4;
    visibility: hidden;
}

#human-green {
    z-index: 5;
    visibility: hidden;
}

#human-blue {
    z-index: 6;
    visibility: hidden;
}

#human-purple {
    z-index: 7;
    visibility: hidden;
}

@keyframes loader-white {
    0% {transform: scale(0,0);}
    100% {transform: scale(1);}
}

@keyframes loader-gray {
    0% {transform: scale(0,0);}
    25% {transform: scale(0,0);}
    100% {transform: scale(1);}
}


.loader {
    width: 75px;
    height: 75px;
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
}

.loader-inner-white {
    width: 75px;
    height: 75px;
    background-color: whitesmoke;
    border-radius: 50%;
    animation: loader-white 1s ease-in-out infinite;
}

.loader-inner-gray {
    width: 75px;
    height: 75px;
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    animation: loader-gray 1s ease-in-out infinite;
}

